# Directories ##############################################################
.vs/
Binaries/
Intermediate/

# Files ####################################################################
*.user
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user